body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 26px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Bitter, serif;
  font-size: 2.5em;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: Bitter, serif;
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Bitter, serif;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Bitter, serif;
  font-size: 1.2em;
  line-height: 24px;
  font-weight: 700;
}

p {
  margin-bottom: 20px;
}

a {
  text-decoration: underline;
}

ul {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 40px;
}

ol {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 40px;
  list-style-type: decimal;
}

blockquote {
  margin-bottom: 10px;
  margin-left: 10%;
  padding: 0px 20px 10px 5px;
  border-left: 4px none #162f49;
  font-size: 0.99em;
  font-style: italic;
}

.bloco-texto {
  padding-right: 5%;
  padding-left: 5%;
}

.bloco-texto.quadro {
  margin-bottom: 15px;
  border: 1px none #000;
  background-color: rgba(0, 0, 0, .05);
}

.bloco-imagem {
  margin-top: 30px;
  margin-bottom: 42px;
  text-align: center;
}

.lightbox {
  position: relative;
  overflow: visible;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(.455, .03, .515, .955);
  transition: -webkit-transform 300ms cubic-bezier(.455, .03, .515, .955);
  transition: transform 300ms cubic-bezier(.455, .03, .515, .955);
  transition: transform 300ms cubic-bezier(.455, .03, .515, .955), -webkit-transform 300ms cubic-bezier(.455, .03, .515, .955);
}

.mouse-over-colorido {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(22, 47, 73, .25);
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.imagem-thumbnail {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.imagem-thumbnail:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.legenda-imagem {
  display: block;
  width: 90%;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  color: #162f49;
  font-style: italic;
}

.bloco-titulo-texto {
  margin-bottom: 20px;
  padding: 10px 5%;
  color: #162f49;
}

.bloco-titulo-texto.top-margin-off {
  margin-top: 0px;
}

.bloco-titulo-texto.branco {
  color: #fff;
}

.bar-titulo {
  height: 4px;
  background-color: #162f49;
}

.bar-titulo.branco {
  background-color: #fff;
}

.bloco-elemento {
  margin-top: 20px;
  padding: 5% 0%;
}

.box-padrao {
  position: relative;
  min-height: 300px;
  padding: 50px 5% 20px;
  background-color: #162f49;
  background-image: url('../images/fake-brick_1fake-brick.png');
  background-size: 75px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .3);
  color: #fff;
}

.box-padrao.assista {
  background-color: #a00707;
}

.box-padrao.home {
  min-height: 250px;
  padding-bottom: 20px;
}

.box-padrao-icone {
  position: absolute;
  left: 0px;
  top: -50px;
  right: 0px;
  display: block;
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid #162f49;
  border-radius: 50px;
  background-color: #f9f9f9;
  background-image: url('../images/icon-saiba-mais.svg');
  background-position: 50% 50%;
  background-size: 60px;
  background-repeat: no-repeat;
}

.box-padrao-icone.assista {
  border-color: #162f49;
  background-image: url('../images/icon-assista-azul.svg');
  background-size: 60px;
}

.box-padrao-icone.leitura {
  background-image: url('../images/icon-leitura_1.svg');
}

.box-padrao-icone.pratique {
  background-image: url('../images/icon-pratique.svg');
  background-position: 35% 48%;
  background-size: 65px;
}

.box-padrao-icone.indice {
  background-image: url('../images/icon-indice-2.svg');
  background-size: 75px;
}

.box-titulo {
  margin-top: 0px;
  color: #fff;
}

.box-padrao-conteudo {
  margin-top: 15px;
  margin-bottom: 25px;
}

.box-padrao-titulo {
  display: block;
  max-width: 50%;
  margin: 5px auto;
  border-style: none;
  border-top-width: 2px;
  border-top-color: #fff;
  border-bottom-width: 2px;
  border-bottom-color: #fff;
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.box-padrao-titulo.home {
  max-width: 90%;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 1em;
  line-height: 1.2em;
  letter-spacing: 3px;
}

.div-block-2 {
  display: block;
  height: 2px;
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
  background-color: hsla(0, 0%, 100%, .54);
}

.bloco-tabela {
  margin-bottom: 30px;
  padding-right: 5%;
  padding-left: 5%;
}

.tabela {
  margin-top: 30px;
  margin-bottom: 5px;
}

.tabela-legenda {
  font-size: 0.9em;
}

.plus-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  margin-right: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pricing-h1 {
  text-align: center;
}

.pricing-h1.faq-h2 {
  margin-bottom: 50px;
}

.plus-l {
  position: absolute;
  width: 5px;
  height: 100%;
  border-radius: 3px;
  background-color: #fdbc21;
}

.plus {
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background-color: #fdbc21;
}

.acordeoni-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
}

.acoredeon {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  max-width: 1400px;
  margin: 0px auto 30px;
  padding-right: 5%;
  padding-left: 5%;
}

.acoredeon.faq-container {
  max-width: 900px;
  padding-top: 60px;
  padding-bottom: 80px;
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, .5);
  box-shadow: 0 0 50px 0 rgba(45, 62, 80, .06);
}

.link {
  color: #2aa8ff;
  font-weight: 600;
}

.acordeon-conteudo-texto {
  margin-bottom: 30px;
  font-size: 16px;
}

.acordeon-conteudo {
  overflow: hidden;
  padding-left: 45px;
  border-bottom: 1px solid rgba(45, 62, 80, .12);
}

.acordeon-conteudo.last-faq-answer {
  border-bottom-width: 0px;
}

.tab-link-tabs {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  background-color: #555;
  -webkit-transition: background-color 300ms ease, -webkit-transform 300ms ease;
  transition: background-color 300ms ease, -webkit-transform 300ms ease;
  transition: transform 300ms ease, background-color 300ms ease;
  transition: transform 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease;
  color: #fff;
  font-weight: 600;
}

.tab-link-tabs:hover {
  background-color: #162f49;
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.tab-link-tabs.w--current {
  background-color: #162f49;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
}

.tab-contents {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
}

.bloco-oi {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px 5%;
}

.body {
  background-color: #f5f6f9;
}

.bloco-navbar-conteudo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}

.donwload {
  width: 50px;
  height: 50px;
  float: right;
  background-image: url('../images/seta-branca.svg');
  background-position: 50% 50%;
  background-size: 30px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.donwload:hover {
  background-image: url('../images/seta-azul-claro.svg');
  background-size: 30px;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding-right: 52px;
  padding-left: 42px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  background-color: #162f49;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .3);
}

.menu-button {
  display: block;
  float: left;
}

.menu-button.w--open {
  background-color: #1b3d60;
  color: #162f49;
}

.icon {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  color: #fff;
}

.icon:hover {
  color: #6cb4ff;
}

.nav-menu {
  position: relative;
  margin-top: 50px;
  background-color: #162f49;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .15);
}

.nav-link {
  width: 100%;
  border-left: 2px solid transparent;
  background-color: hsla(0, 0%, 100%, .14);
  color: #fff;
}

.nav-link:hover {
  border-bottom: 2px none #fff;
  border-left: 2px solid #fff;
}

.nav-link.nav-link-entre-linha {
  background-color: hsla(0, 0%, 100%, .23);
  line-height: 1.2em;
}

.navbar-titulo-livro {
  display: block;
  margin-right: auto;
  padding-left: 10px;
  text-align: center;
}

.navbar-bloco-titulo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.header-capitulo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 10px solid #162f49;
  background-image: url('../images/fake-brick_1fake-brick.png'), linear-gradient(45deg, rgba(0, 0, 0, .65), rgba(8, 39, 72, .75) 78%), url('../images/figura.1.1-01.png');
  background-position: 0px 0px, 0px 0px, 50% 50%;
  background-size: 75px, auto, cover;
  background-attachment: scroll, scroll, fixed;
}

.header-capitulo._2 {
  background-image: url('../images/fake-brick_1fake-brick.png'), linear-gradient(45deg, rgba(0, 0, 0, .65), rgba(8, 39, 72, .75) 78%), url('../images/figura.2.5.png');
  background-position: 0px 0px, 0px 0px, 50% 50%;
  background-size: 75px, auto, cover;
}

.header-capitulo._3 {
  background-image: url('../images/fake-brick_1fake-brick.png'), linear-gradient(45deg, rgba(0, 0, 0, .65), rgba(8, 39, 72, .75) 78%), url('../images/figura.3.1.png');
  background-position: 0px 0px, 0px 0px, 50% 50%;
  background-size: 75px, auto, cover;
}

.header-capitulo._4 {
  background-image: url('../images/fake-brick_1fake-brick.png'), linear-gradient(45deg, rgba(0, 0, 0, .65), rgba(8, 39, 72, .75) 78%), url('../images/figura.3.7.png');
  background-position: 0px 0px, 0px 0px, 50% 50%;
  background-size: 75px, auto, cover;
}

.entrada-de-aula-wrapper {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.entrada-de-aula-info {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.capitulo-numero {
  padding: 4px 16px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 2px none #fff;
  border-radius: 8px;
  color: #fff;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.linha-topo-cima {
  display: block;
  width: 242px;
  height: 2px;
  margin: 30px auto 20px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, .7)), to(hsla(0, 0%, 100%, .7)));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .7), hsla(0, 0%, 100%, .7));
  text-align: center;
}

.nome-da-aula-topo {
  margin-top: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
  font-size: 3.2em;
  line-height: 1.5em;
  font-weight: 700;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .7);
}

.capitulo-titulo {
  margin-bottom: 0px;
  line-height: 1.2em;
}

.linha-topo {
  display: block;
  width: 242px;
  height: 2px;
  margin: 30px auto 20px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, .7)), to(hsla(0, 0%, 100%, .7)));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .7), hsla(0, 0%, 100%, .7));
  text-align: center;
}

.header-seta {
  margin-top: 40px;
  border-radius: 50px;
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, .5);
  -webkit-filter: saturate(200%);
  filter: saturate(200%);
}

.section-conteudo {
  padding-top: 50px;
  padding-bottom: 60px;
}

.section-conteudo.bg-cinza-claro {
  background-color: #f5f7fa;
}

.section-introducao {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #f5f7fa;
}

.secrion-destaque {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: linear-gradient(45deg, rgba(22, 47, 73, .9), rgba(0, 0, 0, .7)), url('../images/fake-brick_1fake-brick.png'), url('../images/5pexels-photo-4.jpg');
  background-position: 0px 0px, 0px 0px, 50% 50%;
  background-size: auto, 76px, cover;
  background-attachment: scroll, scroll, fixed;
}

.bloco-destaque {
  font-family: Bitter, serif;
  color: #fff;
  font-size: 2em;
  line-height: 1.3em;
  text-align: center;
}

.span-texto-azul {
  color: #2aa8ff;
}

.lightbox-link {
  display: block;
  min-width: 120px;
  margin-bottom: 15px;
  float: right;
  text-align: center;
  text-decoration: none;
}

.text-block {
  padding: 10px 15px;
  border: 2px none #162f49;
  background-color: #2aa8ff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text-block:hover {
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.column {
  padding-top: 20px;
  padding-left: 20px;
}

.image {
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, .5);
}

.section-sintese {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #f5f7fa;
}

.section-sintese.branco {
  background-color: transparent;
}

.section-referencias {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #162f49;
  color: #fff;
}

.proxima_aula {
  margin-top: 0px;
  border-top: 1px solid #fff;
  background-image: url('../images/fake-brick_1fake-brick.png'), linear-gradient(45deg, #162f49, #10466b);
  background-position: 0px 0px, 0px 0px;
  background-size: 76px, auto;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
}

.container_proxima_aula {
  padding: 100px 50px;
  text-align: center;
}

.bar-final {
  display: block;
  width: 142px;
  height: 3px;
  margin: 30px auto 20px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff, #fff);
  text-align: center;
}

.paragraph-4 {
  margin-top: 25px;
  font-family: Bitter, serif;
  color: #fff;
  font-size: 2.2em;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
}

.paragraph-3 {
  color: #fff;
  font-size: 1.2em;
  line-height: 1.6em;
  font-weight: 300;
  text-align: center;
}

.botao-final {
  height: 48px;
  min-width: 120px;
  margin-top: 10px;
  padding: 11px 24px;
  border: 2px solid #fff;
  background-color: transparent;
  -webkit-transition: box-shadow 300ms ease, background-color 200ms ease, -webkit-transform 300ms ease;
  transition: box-shadow 300ms ease, background-color 200ms ease, -webkit-transform 300ms ease;
  transition: box-shadow 300ms ease, transform 300ms ease, background-color 200ms ease;
  transition: box-shadow 300ms ease, transform 300ms ease, background-color 200ms ease, -webkit-transform 300ms ease;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.botao-final:hover {
  background-color: rgba(0, 0, 0, .29);
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .33);
  -webkit-transform: translate(0px, -1px);
  -ms-transform: translate(0px, -1px);
  transform: translate(0px, -1px);
}

.botao-final.final-botao {
  position: relative;
  z-index: 100;
  display: inline-block;
  margin-top: 24px;
  margin-bottom: -80px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #fff;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
}

.botao-final.final-botao:hover {
  box-shadow: 0 5px 18px 0 #1e1e50;
}

.botao-final.home {
  margin-top: 42px;
  background-color: rgba(42, 168, 255, .44);
}

.rodape {
  background-color: #101f2e;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .45);
}

.text-block-2 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 1em;
  line-height: 2em;
  font-weight: 100;
  text-align: center;
}

.bold-text-2 {
  font-weight: 400;
}

.link-2 {
  color: #fff;
  text-decoration: none;
}

.bold-text {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.capa-professor {
  padding: 4px 16px 4px 5px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 2px none #fff;
  border-radius: 8px;
  color: #fff;
  font-size: 1.5em;
  font-weight: 300;
  text-align: left;
  letter-spacing: 4px;
  text-transform: none;
}

.capa-titulo {
  margin-top: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
  font-size: 4.2em;
  line-height: 1.5em;
  font-weight: 700;
  text-align: left;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .7);
}

.capa-linha-top {
  display: block;
  height: 4px;
  max-width: 142px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, .95)), to(hsla(0, 0%, 100%, .95)));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .95), hsla(0, 0%, 100%, .95));
  text-align: center;
}

.vapa-linha-botton {
  display: block;
  height: 4px;
  max-width: 442px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff, #fff);
  text-align: center;
}

.header-capa {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 10px solid #162f49;
  background-image: linear-gradient(225deg, rgba(42, 168, 255, .38), rgba(0, 0, 0, .88)), url('../images/fake-brick_1fake-brick.png'), url('../images/capa-2-pb.jpg');
  background-position: 0px 0px, 0px 0px, 0px 0px;
  background-size: auto, 75px, cover;
  background-attachment: scroll, scroll, fixed;
}

.capa-box {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  min-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: left;
}

.capa-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.image-sumario {
  position: static;
  overflow: visible;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.image-sumario:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.section-header-wrapper {
  display: block;
  max-width: 570px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.service-cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sumario {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f5f6f9;
  text-align: center;
}

.div-block-11 {
  position: relative;
  z-index: 10;
  overflow: hidden;
  border-bottom: 3px solid #162f49;
  cursor: pointer;
}

.section-header {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 2.3em;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.card-sumario-titulo {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 30px 20px;
  padding-right: 10px;
  padding-left: 10px;
  color: #2a2a2a;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 300;
  text-align: center;
}

.wrapper {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}

.card-sumario-aula-2 {
  position: relative;
  z-index: 15;
  display: block;
  width: 30%;
  margin: -15px auto 0px;
  padding: 3px;
  background-color: #162f49;
  color: #fff;
  font-size: 0.8em;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
}

.section-description {
  margin-top: 15px;
  color: #463636;
  font-size: 1.1em;
  line-height: 1.5em;
}

.section-subtitulo {
  margin-bottom: 0px;
  color: #ffaf00;
  font-size: 0.8em;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.cards-sumario {
  position: relative;
  margin-right: 15px;
  margin-bottom: 30px;
  margin-left: 15px;
  padding: 0px;
  -webkit-box-flex: 22%;
  -webkit-flex: 22%;
  -ms-flex: 22%;
  flex: 22%;
  border-bottom: 3px solid #162f49;
  background-color: hsla(0, 0%, 100%, .95);
  box-shadow: 5px 7px 15px 0 rgba(0, 0, 0, .37);
  -webkit-transition: opacity 200ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
  transition: opacity 200ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
  transition: opacity 200ms ease, transform 300ms ease, box-shadow 300ms ease;
  transition: opacity 200ms ease, transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
  color: #9096a4;
  text-align: center;
  text-decoration: none;
}

.cards-sumario:hover {
  background-color: #fff;
  box-shadow: 10px 14px 15px 0 rgba(0, 0, 0, .37);
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.tabs-content {
  margin-top: 60px;
}

.tab-link {
  border-right: 1px solid #336;
  background-color: transparent;
  font-size: 1.1em;
  line-height: 2em;
  letter-spacing: 1px;
}

.tab-link:hover {
  color: #464681;
  font-weight: 700;
}

.tab-link.w--current {
  border-top: 2px none #6900bb;
  background-color: transparent;
  color: #336;
  font-weight: 800;
}

.tab-link.tab-link-direita {
  border-right-style: none;
}

.tab-link.tab-link-direita.w--current {
  font-weight: 800;
}

.section-description-2 {
  margin-top: 15px;
  color: #424242;
  font-size: 1em;
  line-height: 1.5em;
}

.paragraph-small-2 {
  font-size: 0.9em;
  line-height: 1.4em;
}

.service-cards-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -30px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.section-header-wrapper-2 {
  display: block;
  max-width: 570px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.section-small-header {
  margin-bottom: 0px;
  color: #0071bb;
  font-size: 0.8em;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.section {
  overflow: hidden;
  padding: 100px 24px;
  background-color: #fff;
  color: #111;
  text-align: center;
}

.section.grey-section {
  background-color: #f5f6f9;
}

.section.azul {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #162f49;
  background-image: url('../images/fake-brick_1fake-brick.png'), linear-gradient(135deg, #162f49, #072031);
  background-position: 0px 0px, 0px 0px;
  background-size: 75px, auto;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .24);
}

.section-header-2 {
  margin-top: 0px;
  margin-bottom: 8px;
  padding-left: 0px;
  border-left-style: none;
  font-family: Bitter, serif;
  font-size: 2.5em;
}

.div-block-10 {
  height: 30%;
}

.service-card-header {
  margin-top: 22px;
  color: #2e323c;
  font-size: 1em;
}

.service-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  margin-bottom: 30px;
  margin-left: 15px;
  padding: 30px 22px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 20%;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  background-color: #fff;
  box-shadow: 0 8px 28px 0 rgba(46, 50, 60, .09);
  color: #9096a4;
}

.div-block-12 {
  padding-top: 15px;
  padding-right: 85px;
  padding-left: 85px;
}

.image-3 {
  display: block;
  width: 220px;
  height: 220px;
  margin-right: auto;
  margin-left: auto;
  border: 4px none #ffa535;
  border-radius: 120px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .5);
}

.image-3.autora {
  width: 150px;
  height: 150px;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(0, 0%, 100%, .63);
  box-shadow: 2px 2px 13px 1px rgba(0, 0, 0, .5);
}

.heading-2 {
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.paragraph-2 {
  padding-top: 10px;
  color: #fff;
  line-height: 28px;
  text-align: center;
}

.link-claro {
  color: #8dc6ee;
}

.nav-menu-2 {
  margin-top: 60px;
  padding: 0px 40px 20px;
  background-image: linear-gradient(225deg, #7acaff, #fff);
}

.cap-numero {
  margin-top: 0px;
  color: #0071bb;
}

.nav-link-2 {
  margin-bottom: 10px;
  padding: 0px;
  color: #0071bb;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.columns-3 {
  margin-top: 40px;
  text-align: left;
}

.link-block-topicos {
  display: block;
  margin-top: 0px;
  margin-left: -5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: Bitter, serif;
  color: #424242;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
  text-decoration: none;
}

.link-block-topicos:hover {
  background-color: hsla(0, 0%, 89%, .27);
  font-weight: 700;
}

.text-topico-sumario {
  display: inline-block;
}

.navbar-2 {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-image: linear-gradient(45deg, #162f49, #172e3e);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .3);
}

.infocaitulos {
  padding: 15px 15px 15px 30px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.menu-button-2 {
  z-index: 998;
  color: #fff;
}

.menu-button-2.w--open {
  background-color: #7ccbff;
}

.link-block-capitulo {
  display: block;
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: -5px;
  padding-left: 5px;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: Bitter, serif;
  color: #333;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 700;
  text-decoration: none;
}

.link-block-capitulo:hover {
  background-color: hsla(0, 0%, 97%, .18);
  color: #0071bb;
}

.div-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-block-9 {
  margin-left: 20px;
  padding-left: 15px;
  border-left: 2px solid #fff;
  color: #fff;
  font-size: 0.9em;
}

.capa-titulo-texto {
  margin-bottom: 0px;
  line-height: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
}

.columns {
  margin: 20px 0px;
  padding: 20px 30px;
  color: #fff;
}

.column-2 {
  text-align: left;
}

.link-indice {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  color: #fff;
  font-size: 1.1em;
  font-weight: 400;
  text-decoration: none;
}

.link-indice:hover {
  border-bottom: 1px none #d96017;
  border-left: 2px solid #fff;
  font-weight: 700;
}

.bloco-elemento-menor {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5% 0%;
  -webkit-flex-basis: 22%;
  -ms-flex-preferred-size: 22%;
  flex-basis: 22%;
}

.bloco-elemento-menor.bloco-elemento-home {
  margin-right: 10px;
  margin-left: 10px;
  -webkit-flex-basis: 22%;
  -ms-flex-preferred-size: 22%;
  flex-basis: 22%;
}

.deletar {
  display: none;
  padding-top: 43px;
}

.heading-3 {
  padding: 35px;
  background-color: #ff9090;
  text-align: center;
}

.text-block-10 {
  padding: 10px 15px;
  border: 2px none #162f49;
  background-color: #2aa8ff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text-block-10:hover {
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.navbar-3 {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 50;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding-right: 52px;
  padding-left: 42px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  background-color: #162f49;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .3);
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #fff;
}

.navbar-disciplina {
  margin-right: 30px;
  margin-left: 30px;
  padding-top: 0px;
  padding-left: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-left: 2px solid #fff;
  color: #fff;
  font-weight: 500;
  text-align: left;
}

.nav-menu-3 {
  top: 0px;
  right: 0px;
  display: block;
  margin-top: 60px;
  background-color: #162f49;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .15);
}

.link-block-2 {
  margin-bottom: 10px;
}

.entrada-disciplina-titulo {
  color: #fdbc21;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  text-shadow: 1px 1px 6px #000;
}

.text-block-11 {
  color: #fada8d;
}

.caixa a {
  color: #fff;
}

.button {
  padding-top: 10px;
  padding-bottom: 10px;
  float: right;
  border: 2px none #000;
  background-color: #2aa8ff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.nav-menu-4 {
  top: 0px;
  right: 0px;
  display: block;
  margin-top: 60px;
  background-color: #162f49;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .15);
}

.subbull ol {
  margin-left: 38px;
  list-style-type: square;
}

.letras ol {
  list-style-type: lower-alpha;
}

html.w-mod-js *[data-ix="fade-up-1"] {
  opacity: 0;
  -webkit-transform: translate(0px, 60px);
  -ms-transform: translate(0px, 60px);
  transform: translate(0px, 60px);
}

html.w-mod-js *[data-ix="fade-up-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 60px);
  -ms-transform: translate(0px, 60px);
  transform: translate(0px, 60px);
}

html.w-mod-js *[data-ix="fade-up-3"] {
  opacity: 0;
  -webkit-transform: translate(0px, 60px);
  -ms-transform: translate(0px, 60px);
  transform: translate(0px, 60px);
}

html.w-mod-js *[data-ix="fade-up-4"] {
  opacity: 0;
  -webkit-transform: translate(0px, 60px);
  -ms-transform: translate(0px, 60px);
  transform: translate(0px, 60px);
}

@media (max-width: 991px) {
  .navbar {
    padding-right: 30px;
    padding-left: 20px;
  }
  .nav-menu {
    margin-right: 21px;
  }
  .nome-da-aula-topo {
    font-size: 4em;
    line-height: 1.3em;
  }
  .bloco-destaque {
    font-size: 1.5em;
  }
  .botao-final.final-botao {
    margin-bottom: -56px;
  }
  .capa-titulo {
    font-size: 4em;
    line-height: 1.3em;
  }
  .section-header-wrapper {
    max-width: 66.66%;
    padding-bottom: 56px;
  }
  .service-cards {
    margin-bottom: -16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .section-description {
    font-size: 15px;
  }
  .cards-sumario {
    display: block;
    margin-right: 8px;
    margin-bottom: 16px;
    margin-left: 8px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 45%;
    -ms-flex: 0 45%;
    flex: 0 45%;
  }
  .section-description-2 {
    font-size: 15px;
  }
  .service-cards-2 {
    margin-bottom: -16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .section-header-wrapper-2 {
    max-width: 66.66%;
    padding-bottom: 56px;
  }
  .section {
    padding: 100px 8px;
  }
  .service-card {
    margin-right: 8px;
    margin-bottom: 16px;
    margin-left: 8px;
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
  }
  .image-3 {
    width: 200px;
    height: 200px;
  }
  .link-block-topicos {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .infocaitulos {
    padding-top: 5px;
  }
  .navbar-3 {
    padding-right: 30px;
    padding-left: 20px;
  }
  .nav-menu-3 {
    margin-right: 21px;
  }
  .nav-menu-4 {
    margin-right: 21px;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 1.7em;
  }
  h3 {
    font-size: 1.4em;
  }
  .bloco-titulo-texto {
    font-size: 0.8em;
  }
  .pricing-h1 {
    font-size: 34px;
    line-height: 44px;
  }
  .link-block {
    margin-left: 0px;
  }
  .link-block.w--current {
    margin-left: 20px;
  }
  .navbar {
    padding-right: 10px;
    padding-left: 0px;
  }
  .nav-menu {
    margin-right: 0px;
  }
  .entrada-de-aula-wrapper {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .entrada-de-aula-info {
    padding-right: 10px;
    padding-left: 10px;
  }
  .capitulo-numero {
    padding-bottom: 0px;
    font-size: 1.5em;
  }
  .linha-topo-cima {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .nome-da-aula-topo {
    font-size: 2.5em;
    line-height: 1.2em;
  }
  .linha-topo {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .lightbox-link {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .container_proxima_aula {
    text-align: center;
  }
  .bar-final {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .botao-final.final-botao {
    margin-bottom: -40px;
  }
  .capa-professor {
    padding-bottom: 0px;
    font-size: 1.5em;
  }
  .capa-titulo {
    font-size: 2.5em;
    line-height: 1.2em;
  }
  .capa-linha-top {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .vapa-linha-botton {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .capa-box {
    padding-right: 10px;
    padding-left: 10px;
  }
  .capa-wrapper {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .section-header-wrapper {
    padding-bottom: 40px;
  }
  .section-header {
    margin-top: 16px;
  }
  .section-description {
    font-size: 14px;
    line-height: 24px;
  }
  .section-subtitulo {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 3px;
  }
  .cards-sumario {
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .tab-link {
    margin-right: 1px;
    margin-left: 1px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .tab-link.w--current {
    padding-right: 20px;
    padding-left: 20px;
  }
  .section-description-2 {
    font-size: 14px;
    line-height: 24px;
  }
  .section-header-wrapper-2 {
    padding-bottom: 40px;
  }
  .section-small-header {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 3px;
  }
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .section-header-2 {
    margin-top: 16px;
  }
  .nav-menu-2 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .navbar-2 {
    padding-right: 0px;
  }
  .infocaitulos {
    margin-top: 20px;
  }
  .div-block-13 {
    padding-left: 10px;
  }
  .navbar-3 {
    padding-right: 10px;
    padding-left: 0px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .image-4 {
    position: absolute;
    left: 15px;
    top: 10px;
  }
  .nav-menu-3 {
    margin-right: 0px;
  }
  .link-block-2 {
    margin-left: 0px;
  }
  .link-block-2.w--current {
    margin-left: 20px;
  }
  .nav-menu-4 {
    margin-right: 0px;
  }
}

@media (max-width: 479px) {
  .bloco-elemento {
    margin-top: 42px;
  }
  .box-padrao-titulo {
    max-width: 100%;
  }
  .div-block-2 {
    max-width: 80%;
  }
  .tab-link-tabs {
    min-width: 100%;
  }
  .link-block.w--current {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    margin-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .donwload {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
  .navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    padding-left: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .nav-menu {
    width: 100%;
    margin-right: 0px;
  }
  .entrada-de-aula-info {
    padding-right: 10px;
    padding-left: 10px;
  }
  .capitulo-numero {
    font-size: 1.6em;
  }
  .container_proxima_aula {
    text-align: center;
  }
  .capa-professor {
    font-size: 1.6em;
  }
  .capa-box {
    padding-right: 10px;
    padding-left: 10px;
  }
  .section-header-wrapper {
    max-width: 100%;
    padding-right: 8px;
    padding-left: 8px;
  }
  .cards-sumario {
    margin-right: 15px;
    margin-left: 15px;
    padding-top: 0px;
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
  }
  .tab-link {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid #336;
    border-right-style: none;
    text-align: center;
  }
  .tab-link.tab-link-esquerda {
    border-top: 1px solid #336;
  }
  .section-header-wrapper-2 {
    max-width: 100%;
    padding-right: 8px;
    padding-left: 8px;
  }
  .service-card {
    padding-top: 48px;
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
  }
  .nav-menu-2 {
    padding-right: 0px;
    padding-bottom: 40px;
    padding-left: 0px;
  }
  .brand {
    padding-left: 0px;
  }
  .columns-3 {
    padding-bottom: 30px;
  }
  .link-block-topicos {
    font-size: 1em;
  }
  .navbar-2 {
    padding-right: 0px;
  }
  .infocaitulos {
    margin-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .link-block-capitulo {
    font-size: 1.3em;
  }
  .div-block-13 {
    padding-left: 10px;
  }
  .bloco-elemento-menor {
    margin-top: 42px;
  }
  .navbar-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-right: 0px;
    padding-left: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .div-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .nav-menu-3 {
    width: 100%;
    margin-right: 0px;
  }
  .link-block-2.w--current {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    margin-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-menu-4 {
    width: 100%;
    margin-right: 0px;
  }
}

